/local.properties
/build
bin/
gen/
local.properties
Thumbs.db
.DS_Store
.gradle
.DS_Store
.classpath
.project
.settings
gradle.xml
*.iws
*.apk
*.ap_
*.dex
*.class
*.iml
.idea/
/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp
